.projectDetails {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--foreground);
  width: 800px;

  ul {
    margin-left: 25px;
  }

  .name {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
  }

  .sectionTitle {
    font-size: 24px;
    font-weight: 600;
  }

  .sectionContent {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  .projectDetails {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .projectDetails {
    width: 300px;
  }
}
