.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  width: 400px;
  color: var(--foreground);

  ul {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    gap: 8px;
    list-style-type: none;

    a {
      font-size: 18px;

      &:hover {
        color: var(--primary-hover);
      }
    }
  }

  .navTitle {
    font-weight: 700;
    font-size: 24px;
  }
}

@media (prefers-color-scheme: dark) {
  .socialLogo {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7497%)
      hue-rotate(344deg) brightness(105%) contrast(106%); // filter to white
  }
}

@media (max-width: 600px) {
  .navbar {
    width: 300px;
  }
}
