.projectContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;
  row-gap: 16px;
}

@media (max-width: 850px) {
  .projectContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .projectContainer {
    grid-template-columns: 1fr;
  }
}
