.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  width: 300px;

  ul {
    display: flex;
    flex-direction: row;
    gap: 8px;
    list-style-type: none;
  }

  a {
    color: var(--foreground);
  }
}
