.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.intro {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  p {
    font-size: large;
  }
}

.img {
  border-radius: 20px;
}

@media (max-width: 600px) {
  .img {
    scale: 0.8;
  }

  .main {
    max-width: 300px;
    gap: 0;
  }

  .intro {
    gap: 18px;
  }
}
